#statAndButtonContainer {
  width: 100%;
}

#selectedMovesContainer {
  height: fit-content;
  background-color: #fae7e3;
  border: 2px black solid;
  margin-top: 5%;
  box-shadow: 2px 2px 2px 1px #136e54;
}

.pigImg {
  max-width: 90%;
}
.singleMoveButtonContainer {
  width: 33%;
}
.moveButton {
  background-image: linear-gradient(#b0e5f1, rgb(200, 255, 255));
  width: 95%;
  margin: 5% 5% 0 0;
  height: 95%;
  box-shadow: 2px 2px 2px 1px #136e54;
}

.moveButtonText {
  margin: 0;
}

.selectedMove {
  width: 20vw;
  height: fit-content;
  margin: 5%;
}

.selectedMoveImg {
  width: 20vw;
  height: 20vw;
  background-color: #ddb0f1;
  border: 1px solid black;
}
#smTurnContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: fit-content;
}
.smTurnText {
  margin: 2%;
}

#moveButtonsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0%;
  justify-content: center;
  height: fit-content;
  margin-bottom: 20vh;
}
#turnInfoContainer,
#totalsContainer {
  background-color: #fae7e3;
  border: 2px solid black;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 2px 2px 2px 1px #136e54;
}

.turnProgressionButton {
  margin: 1%;
}

@media only screen and (min-width: 768px) {
  #turnInfoContainer,
  #totalsContainer {
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  #selectedMovesContainer {
    margin-top: 2%;
    max-width: 50%;
  }
  #moveButtonsContainer {
    max-width: 50%;
  }

  .selectedMove {
    width: 20%;
    height: fit-content;
    margin: 2%;
  }

  .selectedMoveImg {
    width: 100%;
    height: 100%;
    background-color: yellow;
    border: 1px solid black;
  }
  #turnInfoContainer,
  #totalsContainer {
    width: 25%;
  }
  #statAndButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
