#selectedMovesContainer {
  height: fit-content;
  background-color: antiquewhite;
  border: 2px black solid;
  margin-top: 5%;
}

.pigImg {
  max-width: 90%;
}
.singleMoveButtonContainer {
  width: 33%;
}
.moveButton {
  background-image: linear-gradient(aqua, rgb(200, 255, 255));
  width: 95%;
  margin: 5% 5% 0 0;
  height: 95%;
}

.moveButtonText {
  margin: 0;
}

.selectedMove {
  width: 20vw;
  height: fit-content;
  margin: 5%;
}

.selectedMoveImg {
  width: 20vw;
  height: 20vw;
  background-color: yellow;
  border: 1px solid black;
}
#smTurnContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: fit-content;
}
.smTurnText {
  margin: 2%;
}

#moveButtonsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0%;
  justify-content: center;
  height: fit-content;
  margin-bottom: 20vh;
}
#turnInfoContainer {
  background-color: bisque;
  border: 2px solid black;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.turnProgressionButton {
  margin: 1%;
}
