#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  max-width: 100%;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}

button {
  background-color: whitesmoke;
  border-radius: 5px;
  font-size: 1rem;
  margin: 5px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #root {
    max-width: 60%;
  }
}
